<h2>Welcome to Mixaholic</h2>

<p> Browse our list of cocktails </p>

<% @cocktails.each do |cocktail| %>
  <ul>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  </ul>
<% end %>


